# Análise dos municipios 
Com os dados disponíveis no site da IGM (http://www.igm.cfa.org.br/downloads), Índice de Governança dos Municípios, obtive algumas análises nas áreas de demografia, finanças e violência.
Essas análises foram feitas na linguagem python e utilizando as bibliotecas pandas.

In [10]:
# Importando o pandas 
# Criação do DataFrame com a aba Ranking
# Visualizar 
import pandas as pd
df = pd.read_excel('dados_IGM-CFA_2017.xlsx', sheet_name ='Ranking', skiprows = 1,usecols = [3,4,5,7,8,9,])
df.head()

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
0,SP,SAO BERNARDO DO CAMPO,0,822242,409.53,1869.4
1,PR,ITAIPULANDIA,0,10413,331.29,27.3
2,RJ,NITEROI,0,497883,133.92,3640.8
3,SP,INDAIATUBA,0,235367,311.55,646.1
4,SC,BALNEARIO CAMBORIU,0,131727,46.24,2337.7

In [3]:
# contar cidades captais e interiores
df['Capital (1=Sim;0=Não)'].value_counts()

0    5543
1      27
Name: Capital (1=Sim;0=Não), dtype: int64

In [54]:
# Criar um data frame com cidades do interior
# Cidades do interior mais populosas 
df2 = df[df['Capital (1=Sim;0=Não)'] == 0]
df2.nlargest(10,"População 2016 (IBGE)")

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
268,SP,GUARULHOS,0,1337087,318.68,3834.5
121,SP,CAMPINAS,0,1173370,794.57,1359.6
4447,RJ,SAO GONCALO,0,1044058,247.71,4035.9
1070,RJ,DUQUE DE CAXIAS,0,886917,467.62,1828.5
0,SP,SAO BERNARDO DO CAMPO,0,822242,409.53,1869.4
4433,RJ,NOVA IGUACU,0,797435,519.16,1527.6
5414,SP,SANTO ANDRE,0,712749,175.78,3848.0
504,SP,OSASCO,0,696382,64.95,10264.8
57,SP,SAO JOSE DOS CAMPOS,0,695992,1099.41,573.0
1205,PE,JABOATAO DOS GUARARAPES,0,691125,258.69,2491.8

In [4]:
# qual o estado com mais municipios? e o com menos?
df['Estado'].value_counts()

MG    853
SP    645
RS    497
BA    417
PR    399
SC    295
GO    246
PI    224
PB    223
MA    217
PE    185
CE    184
RN    167
PA    144
MT    141
TO    139
AL    102
RJ     92
MS     79
ES     78
SE     75
AM     62
RO     52
AC     22
AP     16
RR     15
DF      1
Name: Estado, dtype: int64

In [19]:
# Quais as cidades mais populosas do país?
df.nlargest(5, "População 2016 (IBGE)")

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
22,SP,SAO PAULO,1,12038175,1521.11,7398.3
74,RJ,RIO DE JANEIRO,1,6498837,1200.18,5265.8
23,DF,BRASILIA,1,2977216,5780.00,444.7
348,BA,SALVADOR,1,2938092,692.82,3859.4
117,CE,FORTALEZA,1,2609716,314.93,7786.4

In [20]:
# Quais as cidades menos populosas do país?
df.nsmallest(5, "População 2016 (IBGE)")

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
3603,MG,SERRA DA SAUDADE,0,815,335.66,2.4
5131,SP,BORA,0,838,118.95,6.8
3670,MT,ARAGUAINHA,0,953,687.97,1.6
5533,TO,OLIVEIRA DE FATIMA,0,1104,205.85,5.0
2941,GO,ANHANGUERA,0,1115,56.95,17.9

In [23]:
# Quais as cidades com maior área?
df.nlargest(5,'Área da unidade territorial 2015 (km²) (IBGE Cidades)' )

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
3751,PA,ALTAMIRA,0,109938,159533.26,0.6
2532,AM,BARCELOS,0,27589,122450.77,0.2
1932,AM,SAO GABRIEL DA CACHOEIRA,0,43831,109181.24,0.4
881,PA,ORIXIMINA,0,70071,107603.29,0.6
2567,AM,TAPAUA,0,18039,84946.15,0.2

In [56]:
# Quais as menores cidades do país?
df.nsmallest(5,'Área da unidade territorial 2015 (km²) (IBGE Cidades)' )

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
1561,MG,SANTA CRUZ DE MINAS,0,8489,3.57,2206.2
5083,SP,AGUAS DE SAO PEDRO,0,3205,3.61,488.9
5421,SP,SAO CAETANO DO SUL,0,158825,15.33,9736.0
4043,PE,FERNANDO DE NORONHA,0,2974,17.02,154.6
5356,SP,POA,0,114650,17.26,6141.1

In [25]:
# Criar um Dataframe apenas com as capitais, df3
# Quais as captais com maior área?
df3 = df[df['Capital (1=Sim;0=Não)'] == 1]
df3.nlargest(5,"Área da unidade territorial 2015 (km²) (IBGE Cidades)")

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
830,RO,PORTO VELHO,1,511219,34090.93,12.6
437,AM,MANAUS,1,2094391,11401.09,158.1
512,AC,RIO BRANCO,1,377057,8835.52,38.0
209,MS,CAMPO GRANDE,1,863982,8092.95,97.2
1144,AP,MACAPA,1,465495,6502.11,62.1

In [26]:
# Quais as capitais com menor área?
df3.nsmallest(5,"Área da unidade territorial 2015 (km²) (IBGE Cidades)")

,Estado,Nome,Capital (1=Sim;0=Não),População 2016 (IBGE),Área da unidade territorial 2015 (km²) (IBGE Cidades),Densidade demográfica 2010 (hab/km²) (IBGE Cidades)
25,ES,VITORIA,1,359555,96.54,3338.3
358,RN,NATAL,1,877662,167.26,4805.2
429,SE,ARACAJU,1,641523,181.86,3140.7
173,PB,JOAO PESSOA,1,801718,211.48,3421.3
424,PE,RECIFE,1,1625583,218.44,7039.6

In [28]:
# Criar um novo dataframe para visualisar a aba Fiscal

dfiscal = pd.read_excel('dados_IGM-CFA_2017.xlsx', sheet_name ='Fiscal', skiprows = 1, usecols=[3,4,5,12,13])
dfiscal.head()

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
0,SP,GAVIAO PEIXOTO,0,7.757575e+06,7.015396e+06
1,PR,SAUDADE DO IGUACU,0,1.041882e+07,9.844659e+06
2,SP,SAO SEBASTIAO,0,1.354621e+08,1.436261e+08
3,PR,ITAIPULANDIA,0,2.164505e+07,1.474390e+07
4,MA,SANTO ANTONIO DOS LOPES,0,2.766943e+07,1.654729e+07

In [33]:
# Cidades com maior despesa em educação
dfiscal.nlargest(10,'Despesas com educação (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
467,SP,SAO PAULO,1,9.900947e+09,9.410424e+09
224,DF,BRASILIA,1,4.903888e+09,4.875415e+09
431,RJ,RIO DE JANEIRO,1,4.191863e+09,4.603532e+09
573,MG,BELO HORIZONTE,1,1.359094e+09,2.620254e+09
1114,PR,CURITIBA,1,1.295458e+09,1.504535e+09
906,CE,FORTALEZA,1,1.124825e+09,1.690418e+09
1359,BA,SALVADOR,1,1.077885e+09,1.241627e+09
876,AM,MANAUS,1,1.069891e+09,7.012114e+08
782,RS,PORTO ALEGRE,1,9.163195e+08,1.478588e+09
2078,GO,GOIANIA,1,7.921299e+08,1.189977e+09

In [30]:
# cidades com menor despesa na educação
dfiscal.nsmallest(5,'Despesas com educação (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
4807,GO,SANTO ANTONIO DO DESCOBERTO,0,209589.10,NaN
3813,GO,SAO MIGUEL DO PASSA QUATRO,0,408571.42,260240.55
4549,AL,SAO LUIS DO QUITUNDE,0,569487.56,NaN
1083,GO,ALOANDIA,0,1000098.54,2656235.34
4334,RS,MACHADINHO,0,1003511.15,1152519.89

In [31]:
# Cidades com maior despesa na saúde
dfiscal.nlargest(5,'Despesas com saúde (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
467,SP,SAO PAULO,1,9.900947e+09,9.410424e+09
224,DF,BRASILIA,1,4.903888e+09,4.875415e+09
431,RJ,RIO DE JANEIRO,1,4.191863e+09,4.603532e+09
573,MG,BELO HORIZONTE,1,1.359094e+09,2.620254e+09
906,CE,FORTALEZA,1,1.124825e+09,1.690418e+09

In [32]:
# Cidades com menores despesas para saúde
dfiscal.nsmallest(5,'Despesas com saúde (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
2932,MT,SALTO DO CEU,0,1882293.82,142165.40
4883,MA,TURILANDIA,0,2240599.12,220075.89
5160,PB,CARAUBAS,0,3094893.34,260014.12
3813,GO,SAO MIGUEL DO PASSA QUATRO,0,408571.42,260240.55
4935,MG,INDIANOPOLIS,0,8481064.47,289396.74

In [38]:
# Criando um Dataframe com as cidades do interior
# Cidades do interior com maior despesa na educação
dfiscal2 = dfiscal[dfiscal['Capital (1=Sim;0=Não)'] == 0]
dfiscal2.nlargest(10,'Despesas com educação (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
1790,SP,CAMPINAS,0,7.895987e+08,1.142287e+09
157,SP,SAO BERNARDO DO CAMPO,0,6.950640e+08,9.589320e+08
1802,SP,GUARULHOS,0,6.734843e+08,8.056246e+08
5483,SP,BARUERI,0,6.709528e+08,5.664561e+08
4040,RJ,DUQUE DE CAXIAS,0,5.787407e+08,4.895304e+08
950,SP,SAO JOSE DOS CAMPOS,0,5.688118e+08,5.694412e+08
291,SP,SANTOS,0,5.156598e+08,4.840497e+08
1896,SP,OSASCO,0,4.706233e+08,4.846777e+08
5340,RJ,MACAE,0,4.481897e+08,4.813858e+08
1093,SP,SOROCABA,0,4.255009e+08,4.778168e+08

In [39]:
# Cidades do interior com maiores despesas na saúde 
dfiscal2.nlargest(10,'Despesas com saúde (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
1790,SP,CAMPINAS,0,7.895987e+08,1.142287e+09
157,SP,SAO BERNARDO DO CAMPO,0,6.950640e+08,9.589320e+08
1802,SP,GUARULHOS,0,6.734843e+08,8.056246e+08
195,RJ,CAMPOS DOS GOYTACAZES,0,3.736440e+08,7.411222e+08
950,SP,SAO JOSE DOS CAMPOS,0,5.688118e+08,5.694412e+08
5483,SP,BARUERI,0,6.709528e+08,5.664561e+08
803,PR,LONDRINA,0,3.101707e+08,5.266911e+08
2364,SP,RIBEIRAO PRETO,0,3.797668e+08,5.113404e+08
1122,MG,JUIZ DE FORA,0,2.818482e+08,5.043220e+08
4040,RJ,DUQUE DE CAXIAS,0,5.787407e+08,4.895304e+08

In [36]:
# criação de um DataFrame para utilizar apenas capitais
# capitais com menores despesas na saúde
dfiscal3 = dfiscal[dfiscal['Capital (1=Sim;0=Não)'] == 1]
dfiscal3.nsmallest(5,'Despesas com saúde (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
1886,AC,RIO BRANCO,1,1.406218e+08,1.073079e+08
3805,AP,MACAPA,1,1.865521e+08,1.222146e+08
1401,TO,PALMAS,1,2.171094e+08,1.649733e+08
888,RR,BOA VISTA,1,2.074893e+08,1.653224e+08
411,ES,VITORIA,1,3.326806e+08,2.284842e+08

In [37]:
# Capitais com menores despesas na educação
dfiscal3.nsmallest(5,'Despesas com educação (STN 2016)')

,Estado,Nome,Capital (1=Sim;0=Não),Despesas com educação (STN 2016),Despesas com saúde (STN 2016)
1886,AC,RIO BRANCO,1,1.406218e+08,1.073079e+08
1610,SE,ARACAJU,1,1.554195e+08,4.333867e+08
3805,AP,MACAPA,1,1.865521e+08,1.222146e+08
888,RR,BOA VISTA,1,2.074893e+08,1.653224e+08
1401,TO,PALMAS,1,2.171094e+08,1.649733e+08

In [47]:
# Criando mais um DataFrame para visualisaçãodo desempenho 
# Criando um Dataframe para capitais 
# Criando um Dataframe para interiores
desempenhof = pd.read_excel('dados_IGM-CFA_2017.xlsx', sheet_name ='Desempenho', skiprows = 1, usecols=[3,4,5,58,63,65,66])
desempenhof2 = desempenhof[desempenhof['Capital (1=Sim;0=Não)'] == 0]
desempenhof3 = desempenhof[desempenhof['Capital (1=Sim;0=Não)'] == 1]
desempenhof.head()

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
0,SP,SAO CAETANO DO SUL,0,5.0,8.0,5.062522,3.164076
1,SP,PAULINIA,0,5.0,9.0,9.211685,5.117603
2,SP,VINHEDO,0,3.0,1.0,1.378360,4.135079
3,MG,TAPIRA,0,1.0,0.0,0.000000,22.016733
4,MG,CACHOEIRA DOURADA,0,1.0,0.0,0.000000,37.579857

In [44]:
# Cidades que mais ocorreram mortes por arma de fogo
desempenhof.nlargest(10, 'Total Mortes por armas de fogo (DataSUS 2015)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
773,CE,FORTALEZA,1,574.0,1655.0,63.870317,22.152001
1592,BA,SALVADOR,1,303.0,1315.0,45.017488,10.372851
291,SP,SAO PAULO,1,1058.0,1059.0,8.848726,8.840370
400,RJ,RIO DE JANEIRO,1,509.0,853.0,13.170428,7.859024
1814,AM,MANAUS,1,281.0,787.0,38.246382,13.655951
925,RS,PORTO ALEGRE,1,140.0,677.0,45.840282,9.479527
1828,MA,SAO LUIS,1,113.0,676.0,62.948543,10.522464
1845,PA,BELEM,1,77.0,624.0,43.346548,5.348853
1274,GO,GOIANIA,1,341.0,618.0,43.195729,23.834537
1246,PE,RECIFE,1,489.0,615.0,38.029091,30.237765

In [49]:
# Cidades do interior que mais ocorreram mortes por arma de fogo
desempenhof2.nlargest(10, 'Total Mortes por armas de fogo (DataSUS 2015)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
2427,PA,ANANINDEUA,0,262.0,492.0,97.347864,51.839716
1625,RJ,NOVA IGUACU,0,134.0,347.0,42.972562,16.594592
1406,ES,SERRA,0,85.0,292.0,60.159546,17.512197
1497,RJ,SAO GONCALO,0,151.0,261.0,25.142547,14.546071
976,MG,CONTAGEM,0,74.0,248.0,38.226418,11.406270
1824,BA,FEIRA DE SANTANA,0,25.0,245.0,39.674314,4.048399
1827,GO,APARECIDA DE GOIANIA,0,50.0,243.0,46.559752,9.580196
1775,PE,JABOATAO DOS GUARARAPES,0,26.0,223.0,32.501508,3.789414
697,MG,BETIM,0,32.0,201.0,48.165979,7.668215
1526,RJ,DUQUE DE CAXIAS,0,41.0,200.0,22.657010,4.644687

In [48]:
# Capitais que menos ocorreram mortes por arma de fogo
desempenhof3.nsmallest(10, 'Total Mortes por armas de fogo (DataSUS 2015)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
1568,RR,BOA VISTA,1,86.0,41.0,12.783976,26.815169
61,SC,FLORIANOPOLIS,1,61.0,55.0,11.709851,12.987289
893,TO,PALMAS,1,99.0,69.0,25.300118,36.300169
66,ES,VITORIA,1,79.0,84.0,23.603793,22.198806
2094,AC,RIO BRANCO,1,40.0,85.0,22.938875,10.794765
267,MS,CAMPO GRANDE,1,158.0,100.0,11.714787,18.509364
2121,AP,MACAPA,1,57.0,124.0,27.182789,12.495314
1882,RO,PORTO VELHO,1,124.0,159.0,31.626183,24.664444
1080,MT,CUIABA,1,167.0,201.0,34.625979,28.768848
1527,PI,TERESINA,1,349.0,302.0,35.771607,41.338711

In [45]:
# Cidades que mais ocorreram mortes no trânsito
desempenhof.nlargest(10, 'Total Mortes no Trânsito (DataSUS 2015)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
291,SP,SAO PAULO,1,1058.0,1059.0,8.848726,8.840370
773,CE,FORTALEZA,1,574.0,1655.0,63.870317,22.152001
400,RJ,RIO DE JANEIRO,1,509.0,853.0,13.170428,7.859024
1246,PE,RECIFE,1,489.0,615.0,38.029091,30.237765
313,DF,BRASILIA,1,447.0,549.0,18.834718,15.335371
240,MG,BELO HORIZONTE,1,377.0,566.0,22.616867,15.064592
1527,PI,TERESINA,1,349.0,302.0,35.771607,41.338711
1274,GO,GOIANIA,1,341.0,618.0,43.195729,23.834537
1592,BA,SALVADOR,1,303.0,1315.0,45.017488,10.372851
1814,AM,MANAUS,1,281.0,787.0,38.246382,13.655951

In [50]:
# Capitis com menos mortes no transito
desempenhof3.nsmallest(10, 'Total Mortes no Trânsito (DataSUS 2015)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
2094,AC,RIO BRANCO,1,40.0,85.0,22.938875,10.794765
2083,AL,MACEIO,1,51.0,552.0,54.450059,5.030712
2121,AP,MACAPA,1,57.0,124.0,27.182789,12.495314
61,SC,FLORIANOPOLIS,1,61.0,55.0,11.709851,12.987289
1257,RN,NATAL,1,71.0,418.0,48.048518,8.161351
1845,PA,BELEM,1,77.0,624.0,43.346548,5.348853
66,ES,VITORIA,1,79.0,84.0,23.603793,22.198806
1568,RR,BOA VISTA,1,86.0,41.0,12.783976,26.815169
893,TO,PALMAS,1,99.0,69.0,25.300118,36.300169
1828,MA,SAO LUIS,1,113.0,676.0,62.948543,10.522464

In [51]:
# Cidades com maior nível de mortes por armas de fogo por 100.000 habitantes
desempenhof.nlargest(10, 'Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
1376,PR,FLORIDA,0,2.0,5.0,186.985789,74.794316
4883,RN,TIBAU,0,1.0,7.0,174.172680,24.881811
5228,SC,CORDILHEIRA ALTA,0,2.0,6.0,143.403442,47.801147
3188,BA,SANTA CRUZ CABRALIA,0,4.0,39.0,138.170481,14.171331
2263,MT,SALTO DO CEU,0,0.0,4.0,114.220445,0.000000
3596,PE,VERTENTES,0,12.0,22.0,110.132159,60.072087
3790,PA,SAO JOAO DO ARAGUAIA,0,2.0,14.0,103.542637,14.791805
3198,PB,CONDE,0,7.0,24.0,100.104275,29.197080
2225,BA,POJUCA,0,3.0,37.0,98.553658,7.990837
2748,SE,BARRA DOS COQUEIROS,0,5.0,28.0,97.639223,17.435576

In [53]:
# Capitais com maior nível de mortes por armas de fogo por 100.000 habitantes
desempenhof3.nlargest(10, 'Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000)')

,Estado,Nome,Capital (1=Sim;0=Não),Total Mortes no Trânsito (DataSUS 2015),Total Mortes por armas de fogo (DataSUS 2015),Mortes por armas de fogo por 100.000 habitantes (DataSUS 2015/IBGE 2015 x 100.000),Mortes no Trânsito por 100.000 habitantes (DataSUS 2015/IBGE 2015 X 100.000)
773,CE,FORTALEZA,1,574.0,1655.0,63.870317,22.152001
1828,MA,SAO LUIS,1,113.0,676.0,62.948543,10.522464
1671,SE,ARACAJU,1,221.0,387.0,61.162176,34.927238
1463,PB,JOAO PESSOA,1,161.0,464.0,58.627460,20.342718
2083,AL,MACEIO,1,51.0,552.0,54.450059,5.030712
1257,RN,NATAL,1,71.0,418.0,48.048518,8.161351
925,RS,PORTO ALEGRE,1,140.0,677.0,45.840282,9.479527
1592,BA,SALVADOR,1,303.0,1315.0,45.017488,10.372851
1845,PA,BELEM,1,77.0,624.0,43.346548,5.348853
1274,GO,GOIANIA,1,341.0,618.0,43.195729,23.834537

In [ ]:
%matplotlin inline